* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

section {
  padding: 4.8rem 9.6rem;
}
/* GENERAL */
.hidden {
  display: none;
}

.heading-primary {
  text-align: center;
}

.container {
  max-width: 120rem;
  margin: 6.4rem auto;
  display: flex;
  flex-direction: column;
}
/* ITEM */
.item-list {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  column-gap: 3.2rem;
  list-style: none;
  align-items: center;
}

.to-do-item {
  padding: 3.2rem 6.4rem;
  margin-bottom: 6.4rem;
}
/* TO DO */
.button-add {
  padding: 3.2rem 0;
  background-color: #fff;
}
/* COMPLETED */

.completed .to-do-item {
  margin-bottom: 0;
}
